<div class="container">
<nav class="navbar navbar-expand-sm navbar-light bg-light rounded-bottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbar">
      <ul class="navbar-nav">
        <li class="nav-item px-1">
          <a class="nav-link" href="#">AKTUÁLNÍ NABÍDKA</a><!--TODO: Add links once the pages are created. -->
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" href="#">PŘEHLED REZERVACÍ</a>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" href="#">VYTVOŘIT NOVOU REZERVACI</a>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" href="#">EDITACE ÚČTU</a>
        </li>
      </ul>
    </div>
  </nav>
</div>