{% extends 'stock_and_reservation/base.html' %}

{% block content %}
<div class="container pb-4">
    Zde je přehled položek, které jsou aktuálně skladem. <b>Rezervovat lze větší množství, než je skladem</b>, avšak doba dodání pak závisí na množství chybějících kusů. Pro více informací nás kontaktujte na <a href = "mailto: kdynsketvoreni@gmail.com">kdynsketvoreni@gmail.com</a>. Děkujeme. 
</div>
<div>
    <form action="{% url 'stock' %}" method="post">
        {% csrf_token %}
        <table class="table">
            <thead>
            <tr>
                <th class="text-uppercase" scope="col">Položka</th>
                <th class="text-uppercase" scope="col">Vel.</th>
                <th class="text-uppercase" scope="col">Vzor</th>
                <th class="text-uppercase" scope="col">Stav</th>
                <th class="text-uppercase" scope="col">Rezervovat</th>
            </tr>
            </thead>
            <tbody>
            {{ formset.management_form }}
            {% for reserved_item_form in formset %}
                <tr>
                   <td>{{ reserved_item_form.item_id.value }}</td>
                   {# <td>{{ item.size }}</td>#}
                   {#<td>{{ item.fabric_design }}</td>#}
                   {#<td class="text-center">{{ item.saldo }}</td>#}
                    <td>
                        
                        {{ reserved_item_form.quantity }} 
                        {{ reserved_item_form.item_id }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="mb-3 text-center">
            <label for="reservation_note" class="form-label">Poznámka k rezervaci</label>
            <div>{{ form.reservation_note }}</div>
            <button type="submit" class="btn btn-outline-light bg-secondary btn-lg text-uppercase my-3">
                Zarezervovat
            </button>
        </div>
    </form>
</div>
{% endblock %}